---
import Layout from '../layouts/common.astro';
---

<Layout title="Functions" tileBegin="Lambda" titleEffect="Functions">
  <p>
    Press<a href="/api/hello" class="animate-ping"> Hello! </a>
  </p>
</Layout>
