---
import Layout from '../layouts/common.astro';
---

<Layout title="Functions" tileBegin="Lambda" titleEffect="Functions">
  <p>Párrafo</p>
  <a href="/.netlify/functions/hello">Say Hello!</a>
</Layout>
